---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<main>
			
			<h1>Tales of Kathay</h1>

			<p>Tales of Kathay is a fantasy turn-based RPG. Your goal is to uncover the ancient secrets of a completely procedural world.</p>

			<p>Current stage: <b>Proof of Concept</b>. I'm working on this game november of 2024, and it's very much incomplete.</p>

			<p>Play the pre-alpha on Itch: <a href="https://jouwee.itch.io/tales-of-kathay">https://jouwee.itch.io/tales-of-kathay</a></p>
			<p>Wishlist it on Steam: <a href="https://store.steampowered.com/app/3939340/Tales_of_Kathay/">https://store.steampowered.com/app/3939340/Tales_of_Kathay/</a></p>
			<p>Join the Discord server: <a href="https://discord.gg/BHWJMftS9r">https://discord.gg/BHWJMftS9r</a></p>
			<p>Contact me via Github on <a href="https://github.com/Jouwee/history-generator-rpg">https://github.com/Jouwee/history-generator-rpg</a></p>

			<h2>Updates</h2>

			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/tales-of-kathay/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
